

  
  
  
  ul.post-grid {
    margin:0;
    padding:0;
    list-style-type:none;
    
    li {
      padding:20px;
      cursor:pointer;
      transition: background linear 0.5s;
      border-bottom:1px solid @accent;
      
      
    }
  }


.content {
  width:100%;
  position:relative;
  padding:20px 40px 20px;
}

 h2, h3 {
    color: @accent;
  }

.post {
  position:absolute;
  top:0;
  width:90%;
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:1;
  padding-bottom:30px;
  
  cite {
    display:inline-block;
    padding:10px 0;
  }
}

.comments {
  ul {
    margin:0;
    padding:0;
    li {
      list-style-type:none;
      padding:20px 5px;
      border-bottom:1px blue solid;
    }
  }
}

.post.ng-hide {
  opacity:0;
}

.post.ng-hide-add, .post.ng-hide-remove {
  display:block!important;
}

form {
  width:100%;
}
input, textarea {
  display:block;
  width:100%;
  padding:10px;
  font-size:1.1em;
}

.ng-invalid.ng-dirty {
  border-color:red;
}

.ng-valid.ng-dirty {
  border-color:green;
}





.col-s-4:hover {
	color: black;
	cursor: pointer;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
	text-align: center;
}


html.ng-scope body div.ng-scope div.content div.container div.row ul.post-grid li.col-s-4.ng-scope p.ng-binding {
	height: 55px;

}

.fa {
	padding: 10px;
}

.col-s-4, .jumbotron {

    overflow: hidden;
}

.noli {
	list-style: none;

}

#postList {
  margin: 0 !important;
  padding: 0 !important;
}

